.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 0;
  background-color: #323647;
  position: relative;
}

.navbar a {
  text-decoration: none;
}

.navbar__logo {
  width: 6rem;
}

.navbar__options {
  width: 3rem;
  cursor: pointer;
}

.navbar .animate__animated {
  --animate-duration: 0.3s;
}

.navbar__navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0 1rem 0 0;
  padding: 0 1rem 0 0;
  width: 100%;
}

.navbar__list li {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  position: relative;
}

.navbar__list li.active {
  opacity: 1;
}

.navbar__list .underline {
  height: 0.4rem;
  width: 100%;
  background-color: transparent;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  margin-top: 0.4rem;
}

.navbar__list li.active .underline {
  background-color: #323647;
}

.navbar__navigation ul li {
  margin: 1.5rem 0;
  cursor: pointer;
}

.navbar__navigation ul li a {
  font-family: "Chiron Hei HK", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 2rem;
  margin: 0;
}

.navbar__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    overflow: hidden;
  }

  .navbar__navigation {
    position: static;
    display: flex;
    flex-direction: row;
    right: 0;
    height: auto;
    width: 100%;
    background-color: transparent;
    justify-content: end;
    align-items: end;
  }

  .navbar__navigation ul li a {
    font-size: 1.2rem;
  }

  .navbar__list {
    flex-direction: row;
    gap: 2rem;
    align-items: start;
    padding: 0 1rem 0 0;
    width: auto;
  }

  .navbar__list li.active .underline {
    background-color: #A1C4F1;
    opacity: 0.5;
  }

  .navbar__options {
    display: none;
  }
}

