.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15rem;
  background-color: var(--bg-color);
  width: 100%;
}

@media screen and (max-width: 720px) {
  .home {
    margin-left: 0;
    height: 150vh;
  }
}

@media screen and (max-width: 400px) {
  .home {
    margin-left: 0;
    height: 150vh;
  }
}
