@use '../utils/variaveis' as *;
@use '../utils/mixins' as *;

header {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background-color: $bg-color;

    img {
        padding: 0.5rem;

        &:hover {
            animation: swing 2s infinite alternate;
        }

        @keyframes swing {
            0% {
                transform: perspective(1000px) rotateY(0deg);
            }
            50% {
                transform: perspective(1000px) rotateY(180deg);
            }
            100% {
                transform: perspective(1000px) rotateY(0deg);
            }
        }
    }

    nav {
        display: flex;
        align-items: center;

        a {
            @include aply-font($fonte-principal, 1.2rem, 400, $cor-secundaria);
            text-decoration: none;
            margin: 0 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(5em);
                color: $cor-terciaria;
            }
        }

        span {
            @extend a;
            cursor: pointer;
        }

        input {
            display: none;

            &:checked ~ ul {
                display: flex;
            }
        }

        ul {
            position: absolute;
            top: 70%;
            background-color: $bg-color;
            width: auto;
            list-style: none;
            display: none;
            padding: 0;
            flex-direction: column;
            right: 5%;
            border-radius: 0 0 1rem 1rem;

            a {
                display: flex;
                align-items: center;
                gap: 1rem;             
            }

            img:hover {
                animation: none;
            }
        }
    }
    
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 0;
        gap: 0;

        nav {
            a {
                font-size: 1rem;
            }
            label {
                display: flex;

            }
            ul {
                position: absolute;
                top: 80%;
                background-color: $bg-color;
                width: auto;
                list-style: none;
                display: none;
                padding: 0;
                flex-direction: column;
                right: 5%;
                border-radius: 0 0 1rem 1rem;
            }
        }
    }
    
}