@use '../utils/variaveis' as *;
@use '../utils/mixins' as *;

#home {
    margin: 0 auto;
    background: transparent;
    padding: 10rem;
    display: grid;
    grid-template-areas: 
        "nome nome img"
        "function function img"
        "description description img"
        "cv cv cv";
    grid-template-columns: auto auto;
    grid-template-rows: 2fr auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    max-width: 80rem;
    width: 100%;
    
    h2 {
        @include aply-font($fonte-principal, 2.5rem, 700, $cor-secundaria);
        margin: 0;
        grid-area: nome;
    }
    h3 {
        @include aply-font($fonte-principal, 1.5rem, 900, $cor-terciaria);
        grid-area: function;
        padding-left: 2rem;
        text-align: center;

        &:hover {
            cursor: default;
            transform: scale(1.05);
            text-shadow: 0 0 15px rgba(0, 0, 255, 0.8), 
                        0 0 30px rgba(0, 0, 255, 0.6), 
                        0 0 45px rgba(0, 0, 255, 0.4);
        }
    }
    p {
        @include aply-font($fonte-principal, 1rem, 400, $cor-secundaria);
        grid-area: description;
        max-width: 100%;
    }

    text {
        @extend h2;
        font-size: 1rem;
    }

    svg {
        padding: 2rem;
        grid-area: cv;
        width: 10rem;
        height: auto;
        justify-self: center;
    }

    img {
        grid-area: img;
        max-width: 20rem;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #home {
        padding: 2rem;
        grid-template-areas: 
            "img img"
            "nome nome"
            "function function"
            "description description"
            "cv cv";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        justify-content: center;
        column-gap: 0;
    }
    
}