@use '../utils/variaveis' as *;
@use '../utils/mixins' as *;

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        @include aply-font($fonte-principal, 2.5rem, 700, $cor-secundaria);
        text-align: center;
    }

    .container {

        background-color: $bg-color;
        padding: 2rem;
        border-radius: 1rem;
        margin: 1rem;
        height: auto;
        width: auto;
        max-width: 25rem;
        box-shadow: 10px 16px 15px 2px $cor-primaria;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            @include aply-font($fonte-principal, 1.5rem, 700, $cor-secundaria);
            justify-content: start;
            color: $cor-secundaria;
        }

        p {
            @include aply-font($fonte-principal, 1.2rem, 400, $cor-secundaria);
            justify-content: start;
            color: $cor-secundaria;
        }

        h4 {
            @include aply-font($fonte-principal, 1rem, 400, $cor-secundaria);
            justify-content: start;
            color: $cor-terciaria;
        }

        span {
            @include aply-font($fonte-principal, 0.8rem, 700, $cor-terciaria);
            justify-content: start;
            color: $cor-terciaria;
        }

        .bottons {
            display: flex;
            justify-content: space-around;
            
            a {
                @include aply-font($fonte-principal, .85rem, 400, $cor-primaria);
                place-self: center;
                border: 0;
                padding: .5rem 1rem;
                text-decoration: none;
                text-transform: uppercase;
                background-color: $cor-secundaria;
                border-radius: 1rem;
                
                &:hover {
                    background-color: $cor-terciaria;
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #projects {
        width: 100%;
    }
}