.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  font-weight: 400;
}

.section__img {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-image: linear-gradient(120deg, #025ce3 0%, #02c1e3 100%);
  padding: 2rem;
  border-top: 0;
  border-right: 50px solid white;
  border-end-end-radius: 40%;
  border-bottom: 50px solid white;
  transform: rotateX(10deg);
}

.section__description {
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 720px) {
  .section {
    gap: 2rem;
  }

  .section__img {
    flex-direction: column;
    padding: 0;
    border-top: none;
    border-right: none;
    border-end-end-radius: 0;
    border-bottom: none;
    transform: rotateX(0);
    margin: 0;
    justify-content: center;
    width: 1800px;
  }

  .section__description {
    top: 10rem;
    display: block;
    position: inherit;
    margin: 0;
  }
}
