$cor-primaria: #353950;
$cor-secundaria: #b9bbc5;
$cor-secundaria-hover: #838694;
$cor-terciaria: #a5b2fa;
$bg-color: #2B2C33;

$bg-gradiente: linear-gradient(to bottom, $bg-color, darken($bg-color, 15%), black);

$fonte-principal: 'Poppins', sans-serif;