.button {
  text-decoration: none;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  border: 0.2rem solid transparent;
  border-image: linear-gradient(
    120deg,
    var(--azul-escuro) 0%,
    var(--azul-claro) 100%
  );
  border-image-slice: 1;
  padding: 0.1rem 1.5rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  color: var(--azul-escuro);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      var(--azul-escuro) 0%,
      var(--azul-claro) 100%
    );
    transition: left 0.3s ease-in-out;
    z-index: 0;
  }

  &:hover::before {
    left: 0;
  }

  &:hover {
    color: var(--color-text-transform);
  }

  span {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 720px) {
  .button {
    font-size: 1rem;
  }
}
