.lista {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: flex-start;
  padding-inline-start: 0;
}

.lista__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .lista {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
