:root {
  --font-text: "Poppins";
  --font-subtitulos: "Metrophobic";

  --azul-escuro: #025ce3;
  --azul-claro: #02c1e3;
  --bg-color: #f9f9f9;

  --color-text-transform: white;
  --color-text-default: black;
  --swiper-theme-color: var(--azul-escuro);
  --swiper-navigation-size: 5rem;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

strong {
  color: var(--azul-escuro);
}

@media screen and (max-width: 720px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1rem !important;
  }
}
